* {
    box-sizing: border-box;
}

/* La police */
@font-face {
    font-family: 'Roboto';
    src: url('../src/Roboto') format('truetype');
}

body {
    font-family: 'Roboto', sans-serif ;
    background-color: #f4f4f4;
    margin: 0;
    
}

header {
   text-align: center;
   background-color: #1D1D1D;
   color: white;
   padding-bottom: 30px;
}

nav {
    text-align: center;
    background-color: rgba(255, 255, 255 0.5);
    color: #000000;
    box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.5);
    size: 1.1em;
    padding: 5px;
}
 
h1 {
    font-family: "Sixtyfour Convergence", sans-serif;
    text-shadow: 1px 5px black;
    margin-top: 0;
    padding-top: 30px;
}

h2 {
    font-size: 2em;
    width: 400px;
    margin: auto;
}

h2:hover {
    color: rgb(0, 26, 255);
}

h2:active {
    color: red;
}

a:focus {
    color: red ;
}

a:visited {
    color: rgb(170, 89, 180);
}

h3 {
    font-size: 1.5em;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    display: inline;
    margin: 40px;
}

li:hover {
    font-weight: bold;
}

section {
    text-align: center;
}

footer {
    text-align: center;
    color: white;
    background-color: #1D1D1D;
    
}
/* ID */
#contact {
    border: 1px black solid;
    border-radius: 15px;
}

#logo {
    margin-top: 30px;
    width: 100px;
}